<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Blog</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'style.css')}}">
</head>
<body>

<header>

    <nav>
        <h2>MyBlog</h2>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">About</a></li>
            <li><a href="{{url_for('login')}}" class="admin-btn">Admin</a></li>
        </ul>

    </nav>

</header>


<section class="hero">

    <div class="hero-text">

        <h1>Welcome to My Personal Blog</h1>

        <p>
            Here I share my journey in software engineering,
            artificial intelligence, programming, personal growth,
            and technology. I hope these articles inspire you to
            keep learning and building amazing things.
        </p>

        <a href="#articles" class="btn">
            Explore Articles
        </a>

    </div>

</section>


<section id="articles" class="articles">


    <h2>Latest Articles</h2>
    {% for article in articles %}
    <div class="article-grid">

        <div class="card">
            <h3>{{article["title"]}}</h3>
            <p>
                {% if article["summary"] %}
                    {{article["summary"]}}
                {% endif %}
            </p>

            <a href="{{ url_for('blog', article_id=article['id']) }}">Read  Article →</a>
        </div>


    </div>
    {% endfor %}

</section>


<footer>

    <p>
        © 2026 My Personal Blog • Built with HTML, CSS and Flask py frame work
    </p>

</footer>

</body>
</html>